---
layout: default
---

<div class='container'>
    <header class="masthead text-center">

      <img class='img-responsive center-block' src="/images/people/comic.jpg" width="100%" height="100%" /><br>


      <!-- <div class="image-with-text" style="display: flex; align-items: center;">
        <div>
          <a href="https://mp.weixin.qq.com/s/4RjppZ-rC4cFrZ21cOIOSg" target="_blank" style="display: inline-block; width: 413px; height: 72px;">
            <img src="/images/news/Shannxi_Digital_Pathology_Consortium.png" alt="Shannxi Digital Pathology Consortium" style="width: 100%; height: 100%;">
          </a>
        </div>
        <div style="margin-left: 10px;">
          <p style="font-family: Arial, sans-serif; font-size: 20px;">
            <a href="https://mp.weixin.qq.com/s/4RjppZ-rC4cFrZ21cOIOSg" style="text-decoration: none; color: blue;" target="_blank">The 1st Shaanxi Pathology Big Data Symposium will be held on December 2, 2023 at the Western China Science & Technology Innovation Harbour.</a>
          </p>
        </div>
      </div> -->

      <img class='img-responsive center-block' src="/images/news/Shannxi_Digital_Pathology_Consortium.png" width="100%" height="100%" /><br>

      <br>
      <br>
      <br>
      <p>
      <i>Clinical structured data analysis. <br> 
        Digital pathology image analysis.<br>
        Pathology semantic standardization.<br>
        Deep learning methods on clinical data.
      </i>

        <span style="display: block; margin-bottom: 3em"></span>

      <a href="https://github.com/chenligroup"><i class="fa fa-github"></i> chenligroup</a>&nbsp;&nbsp;&nbsp;
<!--    <a href="https://space.bilibili.com/691857936"><i class="fa fa-bilibili"></i> XJTU_ChenLab</a>&nbsp;&nbsp;&nbsp; -->  
      <a href="cli@xjtu.edu.cn"><i class="fa fa-envelope-o"></i> cli@xjtu.edu.cn</a>
      </p>
<!--
      <div class="w3-container" style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
        <div style="text-align:left">
          <h3> Recent News </h3>
          <u>Happenings of the last few months</u>
          <span style="display: block; margin-bottom: 1em"></span>
          <div class="news">
              {% capture now %}{{'now' | date: '%s' | minus:  94608000 %}}{% endcapture %}
              <ul style="list-style-position:outside;padding:20px" >
                {% for new in site.data.news %}
                  {% capture date %}{{new.date | date: '%s' | plus: 0 %}}{% endcapture %}
                  {% if date > now %}
                    <li>
                      <span>
                        {{ new.details }}
                      </span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </div>
        </div >
      </div>
-->
      <div class="w3-container" style="background: #f0f8ff; padding: 25px; border-radius: 10px; border: 1px solid #5d8aa8">
        <div style="text-align: left">
          <h3>News</h3>
          <span style="display: block; margin-bottom: 1em"></span>
          <div class="news">
            <ul style="list-style-position: outside; padding: 20px">
              {% for news in site.data.news %}
              <li>
                <div class="news-item">
                  <h4 class="news-title">{{ news.title }}</h4>
                  <div class="news-details">
                    {{ news.details | markdownify }}

                    {% if news.images %}
                    <div class="news-images">
                      {% for image in news.images %}
                      <img src="{{ image }}" alt="News Image">
                      {% endfor %}
                    </div>
                    {% endif %}
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <style>
        .news-title {
          transition: box-shadow 0.3s ease-in-out;
        }
      
        .news-title:hover {
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        }
        .news-details {
          opacity: 0;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
        }

        .news-details.show {
          opacity: 1;
          max-height: 100%;
        }

        .news-images {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 10px;
        }

        .news-images img {
          width: 100%;
          max-width: 400px;
          margin: 5px;
        }
      </style>

      <!-- <script>
        const newsTitles = document.querySelectorAll('.news-title');

        newsTitles.forEach(title => {
          title.addEventListener('click', () => {
            const details = title.nextElementSibling;
            details.classList.toggle('show');
          });
        });
      </script> -->
      <script>
        const newsItems = document.querySelectorAll('.news-item');
      
        newsItems.forEach(item => {
          const title = item.querySelector('.news-title');
          const details = item.querySelector('.news-details');
      
          title.addEventListener('click', () => {
            details.classList.toggle('show');
          });
      
          title.addEventListener('mouseenter', () => {
            title.style.boxShadow = '0px 0px 10px rgba(0, 0, 0, 0.3)';
          });
      
          title.addEventListener('mouseleave', () => {
            title.style.boxShadow = 'none';
          });
        });
      </script>

      <span style="display: block; margin-bottom: 3em"></span>

<!--
      <a class="twitter-timeline" href="https://twitter.com/KordingLab" data-widget-id="695051708246941697">Tweets by @KordingLab</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
-->
      <span style="display: block; margin-bottom: 3em"></span>
      School of Computer Science and Technology, Faculty of Electronic and Information Engineering at Xi'an Jiaotong University<br>
      28 Xianning West Road, Xi'an, Shaanxi Province, 710049, China
      <span style="display: block; margin-bottom: 3em"></span>

    </header>
</div>
